.light .btn-x {
    background-color: #f4f5f6;
}

.dark .btn-x{
    background-color: #111111;
}

.btn-x{
    border-radius: 7px;
    padding: 15px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}


[class^="sz-"] {
    width: calc( var(--sz) * 1% ); /* sınıf adının sonundaki sayıyı alıp %'ye çevirir */
}

.sz-10 { --sz: 10; }
.sz-15 { --sz: 15; }
.sz-20 { --sz: 20; }
.sz-25 { --sz: 25; }
.sz-30 { --sz: 30; }
.sz-35 { --sz: 35; }
.sz-40 { --sz: 40; }
.sz-45 { --sz: 45; }
.sz-50 { --sz: 50; }

.mgr{
margin-right: 5px;
}

.mgl{
margin-left: 5px;
}

textarea{
    resize: none;
}

.container{
    padding: 0px 10px; 
    margin: 4px 4px;
}

@media (max-width: 576px) {

    .container {
        min-width:90vw !important;
        max-width:90vw !important;
    }

    .btn-x{
        min-width:100px !important;
        max-width:30vw !important;
    }
    

}